# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DAM1-main\DAM1-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
